%p#notice= notice
%p
  %strong Title:
  = @feed.title
%p
  %strong Slug:
  = @feed.slug
%p
  %strong Body:
  = @feed.body
%p
  %strong Type:
  = @feed.type
= link_to 'Edit', edit_feed_path(@feed)
|
= link_to 'Back', feeds_path
