= form_with(model: comment, local: true) do |form|
  - if comment.errors.any?
    #error_explanation
      %h2
        = pluralize(comment.errors.count, "error")
        prohibited this comment from being saved:
      %ul
        - comment.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :author_id
    = form.number_field :author_id
  .field
    = form.label :parent_id
    = form.number_field :parent_id
  .field
    = form.label :parent_type
    = form.text_field :parent_type
  .field
    = form.label :slug
    = form.text_field :slug
  .field
    = form.label :content
    = form.text_area :content
  .actions
    = form.submit
