%p#notice= notice
%h1 Feeds
%table.table
  %thead
    %tr
      %th Title
      %th Slug
      %th Body
      %th{colspan: "3"}
  %tbody
    - @feeds.each do |feed|
      %tr
        %td= feed.title
        %td= feed.slug
        %td= feed.body
        %td= link_to 'Show', [:admin, feed]
        %td= link_to 'Edit', edit_admin_feed_url(feed)
        %td= link_to 'Destroy', [:admin, feed], method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Feed', new_admin_feed_path
