%ol.breadcrumb
  %li= link_to 'Home', admin_dashboard_path
  %li.active Users

%h3 Users
%table.table
  %thead
    %tr
      %th Email
      %th First Name
      %th Last Name
      %th Actions
  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.first_name
        %td= user.last_name
        %td
          = link_to 'Details', admin_user_path(user)
